@CHARSET "UTF-8";

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;  
}

html {
  height: 100%;
  width: 100%;
  font: 0.80em/1.5em Cantarell,"Droid Sans","DejaVu Sans";
}

ul {
  margin: 0;
  padding: 0;
}

/*
  This is the main content for the whole page (not the content with text and images!)
*/
#content {
  height: 100%;
  width: 100%;
}

/*
  This is the div which places the background color on the page (gradient from top to bottom)
*/
#maindiv {
  display: block;
  height: 100%;
  background-color: #50452e;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(100% 100% 90deg, #50452e, #e4d2ae );
  
  /* Safari 4-5, Chrome 1-9 */
  /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50452e), to(#e4d2ae));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient( #e4d2ae,#50452e );
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(#50452e, #e4d2ae);
}

/*
  Main content div which defines the resolution of the content area
*/
#maincontent {
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  width: 980px  !important;
  height: 100%;
  
}


/*
  Header div which contains the header
*/
#header {
  height: 100px;
  position: relative;
  background-color: #95ad6f;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  /*
  -moz-box-shadow:    5px 0px 5px #586742;
  -webkit-box-shadow: 5px 0px 5px #586742;
  box-shadow:         5px 0px 5px #586742;
  */
}

#header ul {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  padding: 10px 10px 0;
  list-style: none;
  letter-spacing: -.05em;
  font-weight: bold;
}

#header li {
  float: left;
  background: url("images/menu-left.png") no-repeat left top;
  margin: 0 1px 0 0;
  padding: 0 0 0 13px; 
}

#header li a {
  float: left;
  display: block;
  width: auto;
  background: url("images/menu-right.png") no-repeat right top;
  padding: 5px 13px 4px 0px;
  text-decoration: none;
  color: #6A6D66;
}

#header .current_page_item {
  background-position: 0 -220px !important;
  border-width: 0 !important;
  color: #252D3B !important;
}

#header .current_page_item a {
  background-position: 100% -220px !important;
  border-width: 0 !important;
  color: #252D3B !important;
}


#slogan {
  height: 70px;
  position: relative;
  background-color: #f5e8d1;
  
  /*
  -moz-box-shadow:    5px 0px 5px #665433;
  -webkit-box-shadow: 5px 0px 5px #665433;
  box-shadow:         5px 0px 5px #665433;
  */

}

#slogan_text {
  color: #6a6a6a;
  padding-left: 60px;
  padding-top: 15px;
  margin: 0;
  font: italic 20px "Georgia Italic";
}

#content-wrapper {
  width: 100%;
  position: absolute;
  background-color: #e1f1d8;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-top: 1px solid #AAA;
  /*
  -moz-box-shadow:    5px 0px 5px #665433;
  -webkit-box-shadow: 5px 0px 5px #665433;
  box-shadow:         5px 0px 5px #665433;
  */
  color: #2e2e2e;
  font-size: 14px;
}

#real-content {
  padding: 10px 10px 20px 10px;
  float: left;
  width: 660px;
}

#main_image {
  padding-left: 75px;
  padding-top: 40px;
}

#main_text {
  padding-left: 100px;
  padding-top: 10px;
}

#sidebar-wrapper {
  float: right;
  width: 250px;
  margin: 5px 15px 0px 0px;
  padding:  10px 10px 40px 10px;
}

#sidebar-content {
  padding:  5px 5px 5px 5px;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow:    5px 0px 5px #665433;
  -webkit-box-shadow: 5px 0px 5px #665433;
  box-shadow:         5px 0px 5px #665433;
  text-align: left;
}

#sidebar-content ul  {
   list-style: none;
   padding-bottom: 1em;
}

#sidebar-content li {
  display: block;
  margin: 0;
  padding: 5px 5px;
  border-bottom: 1px solid #EEE;
}

#card_click {
  font-size: 10px;
  font-family: Cantarell,"Droid Sans","DejaVu Sans";
}

#footer {
  position:absolute; 
  bottom: 0px;
  width: 100%;
  height: auto;
  background-color: #AEBAA7;
   border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}

#footer_text {
  padding-left: 10px;
  font-size: 11px;
  font-family: Cantarell,"Droid Sans","DejaVu Sans";
  color: white;
}


#footer_text a {
  color: black;
  text-decoration: none;
}
